<div class="w-full p-2 flex items-center py-16 md:h-screen">
  <div class="m-auto max-w-[1240px] md:grid grid-cols-3 gap-8">
    <div class="col-span-2">
      <p class="py-4 uppercase text-xl tracking-widest text-blue-600">About</p>
      <h2 class="py-4 dark:text-white">Who I Am</h2>
      <p class="py-2 text-gray-600 dark:text-white">
        I'm a passionate final year Computer Science student with a knack
        for creating captivating digital experiences.
      </p>
      <p class="py-2 text-gray-600 dark:text-white">
        My journey through the world of technology has led me to excel in
        frontend development, particularly with React.js, where I craft dynamic
        and user-friendly interfaces that seamlessly blend aesthetics with
        functionality.
      </p>
      <p class="py-2 text-gray-600 dark:text-white">
        But that's not all – my curiosity and dedication have driven me to
        explore the realms of data science and machine learning. As I stand on
        the cusp of becoming an AI developer, I'm excited to harness the power
        of algorithms and data-driven insights to create intelligent solutions
        that can make a real impact. I believe in continuous learning and thrive
        on challenges that push my boundaries.
      </p>
      <p class="py-2 text-gray-600 dark:text-white">
        With a solid foundation in both frontend development and AI
        technologies, I'm ready to take on the ever-evolving landscape of
        technology and contribute my skills to projects that matter.
      </p>
      <a href="">
        <p class="py-8 text-gray-600 underline cursor-pointer dark:text-white">
            Check out some of my latest projects.
          </p>
      </a>
    </div>
    <div class="dark:shadow-gray-800 p-6 w-full h-auto m-auto shadow-xl shadow-gray-400 rounded-xl flex justify-center items-center hover:scale-105 ease-in duration-300">
        <img
          class="rounded-xl"
          src="https://miro.medium.com/v2/resize:fit:2000/1*tJde609L5PM5aadfCpv-EA.jpeg"
          alt="laptop"
        />
      </div>
  </div>
</div>
